body
{
  background-color: #52D3D8;
}
hr
{
background-color: white;
border-style:none;
border-bottom-style:groove;
border-color:#3887BE;
width : 20%;
border-width: 3px;
}

h3{
  color : #33186B;
}
h1{
  color : #33186B;
}
